<% content_for(:page_title, "New Category") %>

<div class="flex justify-center">
  <div class="w-1/3"> 
<%= render 'form' %>

<button class="inline-flex items-center px-4 py-2 bg-indigo-500 hover:bg-indigo-600 text-white text-sm font-medium rounded-md">
			<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
			</svg>

			<%= link_to 'Back', categories_path %>
		</button>

</div>
</div>